doctype html
html( lang="en" )
    head
        title Chatbot Prototype
        script( src = "index.js", type = "text/javascript" )
    body
        span
            input( id="msg" type="text")
            button( id="btn" ) Send
        div( id = "history" )
